body
{
    font-family: "Arial", "Ubuntu", "Microsoft Yahei", "Courier New";
}

.block
{
    padding: 10px 60px 10px 60px;
}

.red
{
    color: rgb(255, 100, 100);
    background-color: rgb(255, 220, 220);
    box-shadow: 5px 5px 0px rgba(255, 220, 220, 0.6);
}


#search-div {
   /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;*/
    position: relative;
    top: 20vh;
    margin: auto;
    height: 50vh;
    width: 40vw;
}


#search-input {
    display: inline-block;
    border: none;
    padding: 24px;
    width: 100%;
    height: 20%;
    border: 4px solid #eaeaea;
    border-radius: 24px;
    outline:none;
    position: relative;
    top: 40%;
    font-size: 16px;
    transition: all 0.5s;
}
#search-input:hover{
    transition: all 0.5s;
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
    box-shadow: 2px 2px 12px #888888;
}
#search-input:focus{
    transition: all 0.5s;
    border-color:#4d90fe;
    box-shadow: 2px 2px 12px #888888;
}

button
{
    border-radius: 12px;
    transition: all 0.5s;
    border: none;
    padding: 0px 20px 0px 20px;
    height: 50px;
    font-size: 27px;
    color: white;
    background-color: #6060a0;
    width: 10vw;
}

button:hover
{
    transition: all 0.5s;
    background-color: #b0b0ff;
    color: black;
}

#results
{
    margin-left: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 640px;
}

.result
{
    transition: all 0.7s;
    font-size: 27px;
    padding: 40px 0px 40px 0px;
    color: #323232;
    display: block;
}

a
{
    text-decoration: none;
}

font
{
    text-decoration: underline;
    color: green;
    font-size: 14px;
}