<html>

<head>
    <title>Search Engine</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
</head>

<body>

<div id="search-div">
    <img id="logo" src="static/images/logo.png"/>
    <input id="search-input" type="text" placeholder="Search for whatever you like..."/>
</div>

</body>
<script>
    $('#search-input').keyup(function (e) {
        if (e.keyCode === 13) {
            let key = $('#search-input')[0].value;
            window.location.replace('http://localhost:5000/search?key=' + key );
        }
    });

    </script>
</html>