<html>

<head>
    <title>Search Engine</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
</head>

<body>

<div id="search-div">
    <img id="logo" src="static/images/logo.png"/>
    <form>
        <input type="radio" name="radiobtn" value="0" checked> 向量空间模型TopK查询<br>
        <input type="radio" name="radiobtn" value="1"> 布尔查询<br>
        <input type="radio" name="radiobtn" value="2"> 短语查询<br>
        <input type="radio" name="radiobtn" value="3"> 通配符查询
    </form>
    <input id="search-input" type="text" placeholder="Search for whatever you like..."/>
</div>

</body>
<script>
    $('#search-input').keyup(function (e) {
        if (e.keyCode === 13) {
            let key = $('#search-input')[0].value;
            let searchtypeid;
            var radiobtns=document.getElementsByName("radiobtn");
            for(let i=0;i<radiobtns.length;i++){
                if(radiobtns[i].checked){
                    searchtypeid=radiobtns[i].value;
                    break;
                }
            }
            window.location.replace('http://localhost:5000/search?key=' + key+'&searchtypeid='+searchtypeid);
        }
    });

    </script>
</html>