<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Engine</title>
    <link rel="stylesheet" href="../static/css/display.css">
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
</head>
<body>
    <div id="search-div">
        <img id="logo" src="static/images/logo.png"/>
        <form>
            <input type="radio" name="radiobtn" value="0" checked> 向量空间模型TopK查询<br>
            <input type="radio" name="radiobtn" value="1"> 布尔查询<br>
            <input type="radio" name="radiobtn" value="2"> 短语查询<br>
            <input type="radio" name="radiobtn" value="3"> 通配符查询
        </form>
        <input id="search-input" type="text" placeholder="Search for whatever you like..."/>
    </div>
    <div id="list">

    </div>
</body>

<script>
    var urlParams = new URLSearchParams(window.location.search);
    //console.log(urlParams.has('key'));
    //console.log(urlParams.get('key'));
    const key = urlParams.get('key');
    const searchtypeid=urlParams.get('searchtypeid');
    var radiobtns=document.getElementsByName("radiobtn");
    for(let i=0;i<radiobtns.length;i++){
        if(radiobtns[i].value===searchtypeid){
            radiobtns[i].checked=true;
            break;
        }
    }

    $('#search-input')[0].value = key;
    $.get('http://localhost:5000/search_?key=' + key+'&searchtypeid='+searchtypeid, function (data, status){
        console.log(data);
        let show_correction = false;
        for(const i in data['words']) {
            if(data['words'][i] != data['words_o'][i]) {

                show_correction = true;
                data['words'][i] = `<b>${data['words'][i]}</b>`
            }
        }

        if(show_correction) {
            $('#list').append(
                `<div class="item" id="correct">
                    <p>Showing results for ${data['words'].join(" ")}</p>
                    <p>Search instead for ${data['words_o'].join(" ")}</p>
                </div>`)
        }
        for(const idx in data['idx']) {
            $('#list').append(
            `<div class="item">
                <h2><a href="data/${data['idx'][idx]}.html">${data['idx'][idx]}</a></h2>
                <p>${data['content'][idx]}...</p>
            </div>`)
        }
    });


    $('#search-input').keyup(function (e) {
        if (e.keyCode === 13) {
            let key = $('#search-input')[0].value;
            let againsearchtypeid;
            for(let i=0;i<radiobtns.length;i++){
                if(radiobtns[i].checked){
                againsearchtypeid=radiobtns[i].value;
                break;
                }
            }
            window.location.replace('http://localhost:5000/search?key=' + key+'&searchtypeid='+againsearchtypeid);
        }
    });

    </script>
</html>